<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="UCSD_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="USB_HID_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <UCSD_Application.Properties.Settings>
            <setting name="refreshRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="monStandyDetectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idleTimeout" serializeAs="String">
                <value>0</value>
            </setting>
        </UCSD_Application.Properties.Settings>
        <USB_HID_Application.Properties.Settings>
            <setting name="idleTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="refreshRate" serializeAs="String">
                <value>1000</value>
            </setting>
        </USB_HID_Application.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
